body {
  width: 100%;
}

.visualCounter {
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: yellow;
}

.containerButton {
    font-size: 30px;
    margin: 10px;
    height: 60px;
}